.nav_menu_nav {
  display:inline;
}
.nav-menu {
  display:none;
}
.box { 
  position: relative;
  width:33%;
  padding-bottom:33%;
  margin-left:0;
  margin-bottom:0.4%;
}
.content {
  position: absolute;
  left: 2%;
  right:0;
  bottom:0;
  top:10%;
  height: 95% ;
  width: 95%;
  color: white;
  text-align: center;
  
}
.btn-box {
  position: absolute;
  top: 78%;
  height:13% ;
  width: 35%;
  background: transparent;
  border: 3px solid white;
  padding:2%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  color: white;
  bottom: 6%;
  font-size: 90%;
  box-shadow:3px 3px 6px #54b688;
}
.content-style-2 {
  margin-top: 10%;
  font-size: 100%;
}