@media only screen and (min-width: 992px) {
    .container {
    width: 960px;
    }
   .nav_menu_nav {
    display:inline;
    }
    .nav-menu {
    display:none;   
    } 
    .box_global, .h2-ci-head {
    width: 25 vw;
    height: 40vw;
    margin-bottom: 10px;
    text-align: center;
    font-size:100%;
    }
    }
@media only screen and (min-width: 1200px) {
    .container {
    width: 1140px;
    }
    .nav_menu_nav {
    display:inline;
    }
    .nav-menu {
    display:none;   
    }
    .box_global {
    width: 20vw;
    height: 20vw;
    margin-bottom: 10px;
    text-align: center;
    }
    .p {
     font-size: 1vw;    
    }
    .h1-ci-head {
        font-size: 1vw;
    }
    
    }